@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
.phan-tren{
    height: 600px;
    margin-bottom: 30px;
}

.ngoai-cung-ben-trai img{
    width: 100%;
    height: 600px;
    vertical-align: middle;
}
.box-office{
    width: 20%;
    height: 600px;
    border: 1px solid #b8e994;
    border-radius: 10px;
    float: left;
    margin:0% 1%;
    text-align: center;
}

.box-office h1{
    margin-top: 20px;
}
.phim-hot-vcl{
    float: left;
    width: 100%;
    height: 100%;
    background-image: url("https://media.istockphoto.com/vectors/cinema-night-neon-sign-bright-signboard-light-banner-cinema-emblem-vector-id937262800");
    background-size: cover;
    background-position: center;
    text-align: center;
}

.phim-hot-vcl h1{
    font-size: 45px;
    margin-top: 240px;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    text-shadow: -2px 0 #5352ed, 0 2px #5352ed;
    
}


.tin-khuyen-mai{
    height: 900px;
    background: #ecf0f1;
    text-align: center;  
   
}
.event h1{
    padding-top: 30px;
    padding-bottom: 30px;
}

.ben-trai{
    width: 650px;
    height: 700px;
    margin-right: 20px;
    display: inline-block;
}

.ben-phai{
    width: 300px;
    height: 700px;
    margin: 0 auto;
    display: inline-block;
    /* margin-right: 10%; */
}
.tren{
    width: 100%;
    height: 500px;
    margin-bottom: 10px;
}
 .duoi{
    width: auto;
    height: 200px;
}  

.o-vuong-mot{
    width: 48%;
    height: 500px;
    float: left;
}
.o-thu-nhat{
    width: auto;
    height: 280px;
    margin-bottom: 40px;
}
.o-thu-ba{
    width: auto;
    height: 300px;
}

.o-vuong-hai{
    width: 48%;
    height: 500px;
    float: right;
}
.o-thu-hai{
    width: auto;
    height: 180px;
    margin-bottom: 20px;
}
.o-thu-tu{
    width: auto;
    height: 300px;
}
.phai-hai{
    margin-top: 20px;
}

@media screen and ( max-width: 1200px ){
    .ben-phai, .ngoai-cung-ben-trai, .box-office{
        display: none; 
    }
    .phim-hot-vcl{
        width: 100%;
    }
}
img { max-width: 100%; height: auto}

.bookve{
    display: block;
    margin: 450px 30px 0px 30px;
    font-weight: bold;
    text-decoration: none;
    font-size: 150%;
    border: 1px solid #e67e22;
    border-radius: 10px;
    background: #e67e22;
    color: #fff;
    padding: 5px 35px;
}
